.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 auto;
  max-width: 100%;
  background: linear-gradient(60deg, rgba(254, 70, 72, 0.74) 40%, #ffa44e 70%)
}
