
.year-calendar {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem;

  &__item {
    width: 33.3%;
    padding: 0 1rem 2rem;

    .disabled {
      display: none;
    }

    .month-calendar-row__item {
      width: 14%;
    }

    .month-calendar-row__btn {
      width: 100%;
      height: 100%;
      font-size: 1.5rem;
    }
  }
}

.month-calendar {
  font-size: 2rem;

  .month-name {
    font-size: 1.5rem;
    text-align: center;
  }

  &-row {
    display: flex;

    &__item {
      padding: 1rem;

    }

    &__btn {
      border: none;
      font-size: inherit;
      border-radius: 50%;
      background-color: transparent;
      width: 4.5rem;
      height: 4.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      &:hover {

        background-color: rgba(192, 192, 192, 0.55);
        transition-duration: .5s;

        &::after {
          animation: pulse .3s ease-in-out 1;
        }
      }

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        box-shadow: 0 0 15px 5px #a1a1a1 inset;
        border-radius: 50%;
        opacity: 0;
      }
    }
  }
}

@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
  }
  20% {
    opacity: .2;
  }
  50% {
    opacity: 1;
  }
  70% {
    opacity: .4;
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.5);
  }
}
