
.account {

  &-content {
    padding: 0 1.5rem 2rem;
    overflow-y: auto;

    &-user-img {
      width: 100%;
    }

    &-example-time {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      font-size: 3rem;
    }
  }
}
