

.root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  height: calc(100vh - 64px);
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  height: calc(100% - 52px);
  overflow-y: auto;
}

.loader-circular {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 auto;
}

.schedule-month-container {
  flex: 1 0 auto;
}

.align {

  &-center {
    @include display-flex(center);
  }

  &-right {
    @include display-flex(flex-end);
  }

  &-left {
    @include display-flex(flex-start);
  }
}

.profile-icon {
  font-size: 1.6rem;
}
